/*STRUCTURE*/
body {transition-duration: 0.2s; font-family: 'Inter', sans-serif;}
a {transition-duration: 0.2s; text-decoration: none;}
p {transition-duration: 0.2s;}
hr {transition-duration: 0.2s; height: 8px; margin: 20px; border-radius: 8px;}
.hr-mobile {display: none;}
.hr-menu {margin: 0px 20px;}

/*elements*/
.contacts-img {width: 50%;}
.introduction {transition-duration: 0.2s; font-family: 'Secular One', sans-serif; font-size: 30px; text-align: center; letter-spacing: 1px; line-height: 60px;}
.title {text-align: center; font-weight: bold; font-family: 'Secular One', sans-serif; letter-spacing: 1px; font-size: 25px; padding: 10px; line-height: 30px;}
.text-description {font-size: 18px; line-height: 20px; margin-top: 10px;}
.download-rom {font-size: 20px; margin: 10px;}

/*scrollbar*/
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-button {display: none;}

/* ----- HEADER ----- */
.header{transition-duration: 0.2s; width: 100%; display: flex; position: fixed; text-align: right; padding: 18px; z-index: 1;}
.logo img {margin-top: 8px; height: 35px;}
.logo-devices img {margin-top: 11px; height: 30px;}

/* --- MENU --- */
.menu{width: 100%; z-index: 0; transition: all 0.3s cubic-bezier(.315, .61, .255, 1);}
.menu li {display: inline-block; margin: 0px 15px; margin-top: 1px;}
.menu li a { font-weight: bold; border-radius: 16px; padding: 16px 20px; display: block; transition-duration: 0.2s;}
.menu li a:hover{transition-duration: 0.2s;}
.menu-hover { border-radius: 16px;}
.hamburger {display: block;}
.contacts-mobile {display: none;}
.menu-mobile {display: none;}

/* ----- BUTTON ----- */
/*contacts-menu*/
.cta a {margin-left: 30px; border-radius: 16px; margin-top: 2px; display: block; font-weight: bold; padding: 13px 22px; transition-duration: 0.2s;}
.cta a:hover {transition-duration: 0.2s;}
.cta-alioth a {margin-left: 30px; border-radius: 16px; margin-top: 2px; display: block; font-weight: bold; padding: 13px 22px; transition-duration: 0.2s;}
.cta-alioth a:hover {transition-duration: 0.2s;}
.button {text-align: center;}
.button-alioth {text-align: center;}
.button a {border-radius: 16px; padding: 7px 12px; transition-duration: 0.2s; font-size: 25px;}
.button-alioth a {border-radius: 16px; padding: 7px 12px; transition-duration: 0.2s; font-size: 25px;}
.button a:hover {transition-duration: 0.2s;}
.button-alioth a:hover {transition-duration: 0.2s;}
.theme-button{transition-duration: 0.2s; width: 100px; margin-left: 30px; border-radius: 30px; cursor: pointer; padding-left: 10px; padding-right: 10px; font-family: 'Kanit', sans-serif; line-height: 15px;}
.theme-button:hover {transition-duration: 0.2s;}

/* ----- GROUP ----- */
.group-home-1{transition-duration: 0.2s; margin: 10px; border-radius: 16px; padding: 40px;}
.group-home-2{transition-duration: 0.2s;border-radius: 16px; padding: 30px; margin-top: 10px; margin-bottom: 20px;}

/* --- FLEX --- */
.group-flex {transition-duration: 0.2s; display: flex; flex-wrap: wrap; justify-content: center; align-items:center;}
.group-flex-2 {transition-duration: 0.2s; display: flex; flex-wrap: wrap; justify-content: center; align-items:center; transition-duration: 0.2s; }
.group-flex-main {display: flex; flex-wrap: wrap; padding-top: 86px;}
.group-flex-main-menu {transition-duration: 0.2s; flex-basis: 25%; padding: 40px; border-radius: 0px 0px 16px 0px;}
.group-flex-main-menu-mobile {display: none;}
.group-flex-main-home {transition-duration: 0.2s; flex-basis: 75%; padding: 20px; flex-wrap: wrap; display: felx;}
.group-flex-content {justify-content: center; flex-basis: 90%; font-size: 30px; text-align: left; font-family: 'Secular One', sans-serif; line-height: 50px;}
.devices-flex {margin: 0px 0px 0px 0px; margin-left: 4%; margin-right: 4%; justify-content: center; align-items:center;}
.group-flex-download {transition-duration: 0.2s; flex-basis: 30%; justify-content: center; align-items: center;}
/* -- 33 -- */
.group-2-flex-33 {transition-duration: 0.2s; flex-basis: 32%; margin: 5px; border-radius: 16px; padding: 50px;}
.group-2-flex-50 {transition-duration: 0.2s; flex-basis: 48%; margin: 5px; border-radius: 16px; padding: 50px;}
.group-2-flex-50-rom {transition-duration: 0.2s; flex-basis: 48%; margin: 5px; border-radius: 16px; padding: 50px;}
.group-2-flex-33-contacts {transition-duration: 0.2s; flex-basis: 32%; margin: 5px; border-radius: 16px; padding: 50px;}
.group-2-flex-33-devices {display: none;}
/*elements*/
.group-flex-2 p{transition-duration: 0.2s; display: flex; flex-wrap: wrap; justify-content: center; align-items:center; transition-duration: 0.2s; padding: 0px 5%; line-height: 60px;}
.group-2-flex-50 h1{font-size: 20px; text-align: center; transition-duration: 0.2s;}
.group-2-flex-50-rom h1{font-size: 20px; text-align: center; transition-duration: 0.2s;}
.group-2-flex-33 p{text-align: center;}
.group-2-flex-50 p{text-align: center;}
.group-2-flex-50-rom p{text-align: center;}
.group-2-flex-33-contacts p{text-align: center;}
.devices-flex img {transition-duration: 0.2s; width: 320px;}
/* -- spec devices -- */
.details-devices {transition-duration: 0.2s; font-family: 'Secular One', sans-serif; padding: 20px; font-size: 25px;}
.details-devices-text {transition-duration: 0.2s; padding: 20px; font-size: 18px;}

/* ----- DEVICES ----- */
label {user-select: none;}
/*xiaomi-desktop*/
.slide-xiaomi a {transition-duration: 0.2s; text-decoration: none;}
.slide-xiaomi li {padding : 30px; transition-duration: 0.2s;}
.slide-xiaomi li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-xiaomi {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-xiaomi {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-xiaomi span {padding : 25px; transition-duration: 0.2s; font-size : 1.2em; font-weight: 400; font-variant : small-caps; display: block; border-radius: 16px;}
.menu-devices-xiaomi span::after {float: right; right: 10%; content: "+";}
#touch-xiaomi {position: absolute; opacity: 0; height: 0px;}
#touch-xiaomi:checked + .slide-xiaomi {height: 70px;}
/*xiaomi-mobile*/
.slide-xiaomi-mobile a {transition-duration: 0.2s; text-decoration: none;}
.slide-xiaomi-mobile li {padding : 30px; transition-duration: 0.2s;}
.slide-xiaomi-mobile li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-xiaomi-mobile {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-xiaomi-mobile {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-xiaomi-mobile span {padding : 25px; transition-duration: 0.2s; font-size : 1.2em; font-weight: 400; font-variant : small-caps; display: block; border-radius: 16px;}
.menu-devices-xiaomi-mobile span::after {float: right; right: 10%; content: "+";}
#touch-xiaomi-mobile {position: absolute; opacity: 0; height: 0px;}
#touch-xiaomi-mobile:checked + .slide-xiaomi-mobile {height: 70px;}

/*redmi-desktop*/
.slide-redmi a {transition-duration: 0.2s; text-decoration: none;}
.slide-redmi li {padding : 30px; transition-duration: 0.2s;}
.slide-redmi li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-redmi {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-redmi {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-redmi span {padding : 25px; transition-duration: 0.2s; font-size : 1.2em; font-weight: 400; font-variant : small-caps; display: block; border-radius: 16px;}
.menu-devices-redmi span::after {float: right; right: 10%; content: "+";}
#touch-redmi {position: absolute; opacity: 0; height: 0px;}
#touch-redmi:checked + .slide-redmi {height: 70px;}
/*redmi-mobile*/
.slide-redmi-mobile a {transition-duration: 0.2s; text-decoration: none;}
.slide-redmi-mobile li {padding : 30px; transition-duration: 0.2s;}
.slide-redmi-mobile li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-redmi-mobile {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-redmi-mobile {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-redmi-mobile span {padding : 25px; transition-duration: 0.2s; font-size : 1.2em; font-weight: 400; font-variant : small-caps; display: block; border-radius: 16px;}
.menu-devices-redmi-mobile span::after {float: right; right: 10%; content: "+";}
#touch-redmi-mobile {position: absolute; opacity: 0; height: 0px;}
#touch-redmi-mobile:checked + .slide-redmi-mobile {height: 70px;}

/*poco-desktop*/
.slide-poco a {transition-duration: 0.2s; text-decoration: none;}
.slide-poco li {padding : 30px; transition-duration: 0.2s;}
.slide-poco li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-poco {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-poco {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-poco span {padding : 25px; transition-duration: 0.2s; font-size : 1.2em; font-variant: small-caps; font-weight: 400; display: block; border-radius: 16px;}
.menu-devices-poco span::after {float: right; right: 10%; content: "+";}
#touch-poco {position: absolute; opacity: 0; height: 0px;}
#touch-poco:checked + .slide-poco {height: 70px;}
/*poco-mobile*/
.slide-poco-mobile a {transition-duration: 0.2s; text-decoration: none;}
.slide-poco-mobile li {padding : 30px; transition-duration: 0.2s;}
.slide-poco-mobile li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-poco-mobile {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-poco-mobile {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-poco-mobile span {padding : 25px; transition-duration: 0.2s; font-size : 1.2em; font-variant: small-caps; font-weight: 400; display: block; border-radius: 16px;}
.menu-devices-poco-mobile span::after {float: right; right: 10%; content: "+";}
#touch-poco-mobile {position: absolute; opacity: 0; height: 0px;}
#touch-poco-mobile:checked + .slide-poco-mobile {height: 70px;}


/* ----- MENU DEVICES ----- */
/*download*/
.slide-download a {transition-duration: 0.2s; text-decoration: none;}
.slide-download li {padding : 30px; transition-duration: 0.2s;}
.slide-download li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-download {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-download {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-download span {padding : 25px; transition-duration: 0.2s; font-size : 1.1em; font-weight: 400; font-variant : small-caps; display: block; border-radius: 16px;}
.menu-devices-download span::after {float: right; right: 10%; content: "+";}
#touch-download {position: absolute; opacity: 0; height: 0px;}
#touch-download:checked + .slide-download {height: 495px;}
/*download-mobile*/
.slide-download-mobile a {transition-duration: 0.2s; text-decoration: none;}
.slide-download-mobile li {padding : 30px; transition-duration: 0.2s;}
.slide-download-mobile li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-download-mobile {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-download-mobile {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-download-mobile span {padding : 25px; transition-duration: 0.2s; font-size : 1.2em; font-variant: small-caps; font-weight: 400; display: block; border-radius: 16px;}
.menu-devices-download-mobile span::after {float: right; right: 10%; content: "+";}
#touch-download-mobile {position: absolute; opacity: 0; height: 0px;}
#touch-download-mobile:checked + .slide-download-mobile {height: 495px;}

/*guide*/
.slide-guide a {transition-duration: 0.2s; text-decoration: none;}
.slide-guide li {padding : 30px; transition-duration: 0.2s;}
.slide-guide li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-guide {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-guide {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-guide span {padding : 25px; transition-duration: 0.2s; font-size : 1.1em; font-weight: 400; font-variant : small-caps; display: block; border-radius: 16px;}
.menu-devices-guide span::after {float: right; right: 10%; content: "+";}
#touch-guide {position: absolute; opacity: 0; height: 0px;}
#touch-guide:checked + .slide-guide {height: 495px;}
/*download-mobile*/
.slide-guide-mobile a {transition-duration: 0.2s; text-decoration: none;}
.slide-guide-mobile li {padding : 30px; transition-duration: 0.2s;}
.slide-guide-mobile li:hover {padding : 30px; transition-duration: 0.2s;}
.slide-guide-mobile {clear:both; width:100%; height:0px; overflow: hidden; text-align: left; transition: height .2s ease; border-radius: 16px;}
.menu-devices-guide-mobile {width : 100%; transition-duration: 0.2s; margin-bottom : 20px; border-radius: 20px;}
.menu-devices-guide-mobile span {padding : 25px; transition-duration: 0.2s; font-size : 1.2em; font-variant: small-caps; font-weight: 400; display: block; border-radius: 16px;}
.menu-devices-guide-mobile span::after {float: right; right: 10%; content: "+";}
#touch-guide-mobile {position: absolute; opacity: 0; height: 0px;}
#touch-guide-mobile:checked + .slide-guide-mobile {height: 495px;}


@media (max-width: 1387px) {
	.devices-flex img { width: 220px; transition-duration: 0.2s;}
}

@media (max-width: 1337px) {
	.group-home-1{padding: 25px;}
	.group-home-2{padding: 10px;}
	.introduction {font-size: 20px; line-height: 50px;}
	.group-2-flex-33 {margin: 5px; border-radius: 16px; padding: 20px;}
	.group-2-flex-33-contacts {margin: 5px; border-radius: 16px; padding: 20px;}
	.text-index {margin-bottom: 0px; font-size: 20px; line-height: 30px;}
	.text-description {font-size: 15px;}
	.button a {padding: 7px 12px; font-size: 20px;}
	.button-alioth a {padding: 7px 12px; font-size: 20px;}
	.group-2-flex-50 h1{transition-duration: 0.2s; font-size: 17px;}
	.group-2-flex-50-rom h1{transition-duration: 0.2s; font-size: 17px;}
	.download-rom {font-size: 17px;}
}

@media (max-width: 1172px) {
	.group-2-flex-33 {flex-basis: 31%; font-size: 18px;}
	.group-2-flex-33-contacts {flex-basis: 31%; font-size: 18px;}
	.group-2-flex-50 h1{transition-duration: 0.2s; font-size: 15px;}
	.group-2-flex-50-rom h1{transition-duration: 0.2s; font-size: 15px;}
	.download-rom {font-size: 15px;}
}

@media (max-width: 1135px) {
	.devices-flex img { width: 160px; transition-duration: 0.2s;}
	.group-2-flex-50-rom {flex-basis: 100%;}
}

@media (max-width: 1055px) {
	.devices-flex img {display: none; transition-duration: 0.2s;}
	.devices-flex {margin: 0px;}
}

@media (max-width: 1039px) {
	.devices-flex img {display: none; transition-duration: 0.2s;}
	.devices-flex {margin: 0px;}
}

@media (max-width: 1020px) {

	.group-flex-main-menu {flex-basis: 28%;}
	.group-flex-main-home {flex-basis: 72%;}
}

@media (max-width: 910px) {
	.group-2-flex-33-contacts {display: none;}
	.hide {display: none;}
	.text-index {font-size: 18px; line-height: 25px;}
	.group-2-flex-33 {flex-basis: 30%; margin: 2px; border-radius: 16px; padding: 10px;}
	.group-2-flex-50 {flex-basis: 45%; margin: 2px; border-radius: 16px; padding: 10px;}
	.group-2-flex-50 p{font-size: 20px; margin-top: 15px;}
	.group-2-flex-50 h1{font-size: 15px; text-align: center;}
	.button a {padding: 5px 10px; font-size: 18px;}
	.button-alioth a {padding: 5px 10px; font-size: 18px;}
	.group-flex-main-menu {flex-basis: 30%;}
	.group-flex-main-home {flex-basis: 70%;}
	.download-rom {font-size: 15px;}
}

@media (max-width: 850px) {
	.menu {border-radius: 0px 0px 0px 16px; position: fixed; top: 85px; right: -60%; height: auto; padding: 0px; width: auto;}
	.menu li {display: block; text-align: center; padding: 10px; margin: 0px; cursor: none;}
	.menu li a {padding: 10px 20px; border-radius: 16px;}
	.menu-mobile {display: block;}
	.hamburger {width: 30px; height: 30px; position: absolute; top: 30px; right: 30px; margin-top: 5px;}
	.hamburger span {transition-duration: 0.2s; height: 3px; width: 100%; display: block; margin-bottom: 5px; border-radius: 3px;}
	.menu--open {right: 0%;}
	.cta {display: none;}
	.cta-alioth {display: none;}
	a {cursor: none;}
	.title {font-size: 20px;}
	.button a {cursor: none;}
	.button-alioth a {cursor: none;}
	.contacts-mobile {display: block;}
	.group-flex {transition-duration: 0.2s; display: block;}
	.group-flex-download {transition-duration: 0.2s; margin: 30px;}
	.group-2-flex-33-devices {transition-duration: 0.2s; width: 100%; display: block; margin: 5px; border-radius: 16px; padding: 20px;}
	.group-2-flex-33-devices p{text-align: center;}
	.group-flex-main-menu {display: none;}
	.group-flex-main-menu-mobile {display: block;}
	.group-flex-main-home {flex-basis: 100%;}
	.group-2-flex-33 {flex-basis: 100%}
	.group-2-flex-50 {flex-basis: 100%}
	.group-flex-content {display: block;}
	.group-flex-content hr{display: none;}
	.group-home-1{margin: 0px;}
	.introduction {font-size: 15px; line-height: 35px;}
	.contacts-img {width: 20%;}
	.group-flex-main-menu-mobile {transition-duration: 0.2s; border-radius: 16px; padding: 20px;}
	.hr-mobile {display: block;}
	.text-description {display: none;}
}


*
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}
