/* theme */
body {background: var(--body);}
a {color: var(--p);}
p {color: var(--p);}
.img-guide {border: 3px solid var(--p);}
.video-guide {border: 3px solid var(--p);}
.img-guide-vertical {border: 3px solid var(--p);}
.img-guide-vertical-2 {border: 3px solid var(--p);}
.a-guide-alioth {color: var(--cta-border-alioth);}
.a-guide {color: var(--cta-border);}
.download-rom {color: var(--cta-border-alioth)}
.header{background: var(--color-primary); border: 3px solid var(--border-1);}
.menu li a{color: var(--font-color);}
.menu-hover {background: var(--menu-hover);}
.menu li a:hover {background: var(--menu-hover);}
.group-flex-main-menu {background: var(--group-flex-main-menu); border: 3px solid var(--border-1);}
.group-flex-main-menu-mobile {background: var(--group-home-1); border: 3px solid var(--border-2);}
.group-flex-main-menu p{color: var(--font-color);}
.group-flex-main-home {background: var(--body);}
.slide-xiaomi a {color: var(--slide-xiaomi-a);}
.menu-devices-xiaomi {background: var(--menu-devices-xiaomi); border: 3px solid var(--border-1);}
.menu-devices-xiaomi span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}
.slide-redmi a {color: var(--slide-xiaomi-a);}
.menu-devices-redmi {background: var(--menu-devices-xiaomi); border: 3px solid var(--border-1);}
.menu-devices-redmi span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}
.slide-poco a {color: var(--slide-xiaomi-a);}
.menu-devices-poco {background: var(--menu-devices-xiaomi); border: 3px solid var(--border-1);}
.menu-devices-poco span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}

.slide-xiaomi-mobile a {color: var(--slide-xiaomi-a);}
.menu-devices-xiaomi-mobile {background: var(--menu-devices-xiaomi-mobile); border: 3px solid var(--border-2);}
.menu-devices-xiaomi-mobile span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}
.slide-redmi-mobile a {color: var(--slide-xiaomi-a);}
.menu-devices-redmi-mobile {background: var(--menu-devices-xiaomi-mobile); border: 3px solid var(--border-2);}
.menu-devices-redmi-mobile span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}
.slide-poco-mobile a {color: var(--slide-xiaomi-a);}
.menu-devices-poco-mobile {background: var(--menu-devices-xiaomi-mobile); border: 3px solid var(--border-2);}
.menu-devices-poco-mobile span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}

.slide-xiaomi-download a {color: var(--slide-xiaomi-a);}
.menu-devices-download {background: var(--menu-devices-xiaomi); border: 3px solid var(--border-1);}
.menu-devices-download span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}
.slide-xiaomi-guide a {color: var(--slide-xiaomi-a);}
.menu-devices-guide {background: var(--menu-devices-xiaomi); border: 3px solid var(--border-1);}
.menu-devices-guide span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}
.slide-download-mobile a {color: var(--slide-xiaomi-a);}
.menu-devices-download-mobile {background: var(--menu-devices-xiaomi-mobile); border: 3px solid var(--border-2);}
.menu-devices-download-mobile span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}
.slide-guide-mobile a {color: var(--slide-xiaomi-a);}
.menu-devices-guide-mobile {background: var(--menu-devices-xiaomi-mobile); border: 3px solid var(--border-2);}
.menu-devices-guide-mobile span {background: var(--menu-devices-xiaomi-span); color: var(--menu-devices-xiaomi-span-text);}

.theme-button {background: var(--theme-button); color: var(--theme-button-text); border: 3px solid var(--theme-button-text-border);}
.group-home-1 {background: var(--group-home-1); border: 3px solid var(--border-2);}
.group-home-2 {background: var(--group-home-2); border: 3px solid var(--border-2);}
.introduction {color: var(--introduction);}
hr {background-color: var(--hr); border: 2px solid var(--border-1);}
.hr-mobile {background-color: var(--hr); border: 2px solid var(--border-1);}
.hr-menu {background-color: var(--hr); border: 2px solid var(--border-1);}
.group-2-flex-33 {background: var(--group-2-flex-33); border: 3px solid var(--border-2);}
.group-2-flex-50 {background: var(--group-2-flex-33); border: 3px solid var(--border-2);}
.group-2-flex-50-rom {background: var(--group-2-flex-33); border: 3px solid var(--border-2);}
.group-2-flex-50 h1{color: var(--p);}
.group-2-flex-50-rom h1{color: var(--p);}
.group-2-flex-50 h2{color: var(--p);}
.group-2-flex-50-rom h2{color: var(--p);}
.group-2-flex-33-contacts {background: var(--group-2-flex-33); border: 3px solid var(--border-2);}
.group-2-flex-33-devices {background: var(--group-2-flex-33); border: 3px solid var(--border-2);}
.button a {background: var(--button); color: var(--p);}
.hamburger span {background: var(--p);}
.cta a {background: var(--cta); border: 3px solid var(--cta-border);}
.cta-alioth a {background: var(--cta); border: 3px solid var(--cta-border-alioth);}
.button a {background: var(--cta); border: 3px solid var(--cta-border);}
.button-alioth a {background: var(--cta); border: 3px solid var(--cta-border-alioth);}
.cta a:hover {background: var(--cta-hover);}
.cta-alioth a:hover {background: var(--cta-hover);}
.button a:hover {background: var(--button-hover);}
.button-alioth a:hover {background: var(--button-hover);}
.download-text {color: var(--p);}
::-webkit-scrollbar-track {background: var(--webkit-scrollbar-track);}
::-webkit-scrollbar-thumb {background: var(--webkit-scrollbar-thumb);}

@media (max-width: 850px) {
    .menu {background: var(--color-primary); border: 3px solid var(--border-1);}
  }

  .theme-light {
  }


  .theme-dark {
    --p: #fff;
    --introduction: #fff;
    --color-primary: #0d0d0d;
    --hr: #1a1a1a;
    --font-color: #fff;
	--menu-hover: #333333;
    --group-flex-main-menu: #1a1a1a;
    --body: #262626;
    --slide-xiaomi-a: #fff;
    --slide-xiaomi-li-hover: #4d4d4d;
    --menu-devices-xiaomi: #333333;
    --menu-devices-xiaomi-span: #262626;
    --menu-devices-xiaomi-mobile: #404040;
    --menu-devices-xiaomi-span-text: #fff;
    --box-shadow: #1a1a1a;
    --theme-button: #1a1a1a;
    --theme-button-text: #fff;
    --theme-button-text-border: #333333;
    --group-home-1: #333333;
    --group-home-2: #262626;
    --group-2-flex-33: #262626;
    --button: #ff6900;
    --border-1: #333333;
    --border-2: #404040;
    --cta: #1a1a1a;
    --cta-border: #ff6900;
    --cta-border-alioth: #fad32b;
    --cta-hover: #262626;
    --button-hover: #0d0d0d;
    --webkit-scrollbar-track: #404040;
    --webkit-scrollbar-thumb: #1a1a1a;
  }
